// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.html-wrapper {
  h1, h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: dashed 1px #333;
  }

  h3, h4, h5 {
    margin-top: 2.5rem;
    margin-bottom: 0.2rem;
  }

  h2 + h3 {
    margin-top: 0.5rem;
  }


  ul, ol {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    margin: 1em 0 1em 0;
  }
}